{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@ishiike_" />
        <meta name="twitter:title" content="石池 | Ishiike" />
        <meta name="twitter:description" content="都立大生向け情報共有サイト {% block title1 %}{% endblock %}" />
        <meta name="twitter:image" content="https://ishiike.herokuapp.com/static/img/ishi.png" />

        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="{% static 'css/semantic.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" type="image/png" href="{% static 'img/ishi.png' %}">

        
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-YRMW51EYPD"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-YRMW51EYPD');
        </script>
        
        <script>
            if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
        navigator.serviceWorker.register("{% static 'js/sw.js' %}").then(function(registration) {
            // Registration was successful
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }, function(err) {
            // registration failed :(
            console.log('ServiceWorker registration failed: ', err);
        });
        });
        }
        </script>
        <link rel="manifest" href="{% static 'manifest.json' %}">


        {% block head %}{% endblock %}
    </head>
    <body>
    {% if request.user_agent.is_mobile %}
        <div class="ui sidebar inverted vertical menu">
            <a href="{% url 'review:index' %}" class="header item">石池 | Ishiike</a>
            <a href="{% url 'review:about' %}" class="item">石池とは</a>
            <a href="{% url 'review:howto' %}" class="item">使い方</a>
            <p>　</p>
            <a href="{% url 'review:review_list' %}" class="item">クチコミリスト</a>
            <a href="{% url 'review:create_review' %}" class="item">クチコミを作成</a>
            <a href="{% url 'review:search' %}" class="item">クチコミを検索</a>
            <a href="{% url 'search_syllabus:search' %}" class="item">シラバス検索システム</a>
        </div>
        <div class="head">
            <div class="ui stackable inverted menu">
                    <div class="menu">
                        <div id="js-sidebar" class="item"><i class="icon large grey content"></i></div>
                    </div>
            </div>
        </div>
    {% else %}
        <div class="head">
            <div class="ui stackable inverted menu">
                    <a href="{% url 'review:index' %}" class="header item">石池 | Ishiike</a>
                    <!-- <a href="{% url 'review:inquiry' %}" class="item">お問い合わせ</a> -->
                    <a href="{% url 'review:about' %}" class="item">石池とは</a>
                    <a href="{% url 'review:howto' %}" class="item">使い方</a>
                    <a href="{% url 'review:review_list' %}" class="item">クチコミリスト</a>
                    <a href="{% url 'search_syllabus:search' %}" class="item">シラバス検索システム</a>
                    <!--
                    <div class="right menu">
                        <a href="#" class="item">小原</a>
                    </div>
                    -->
            </div>
        </div>
    {% endif %}
        {% block header%}{% endblock %}


        <div class="ui container" style="min-height:100vh; margin-top:2%; margin-right:2%; margin-left:2%;">
            {% block contents%}{% endblock %}
        </div>

        <div class="ui inverted stackable footer segment">
            <div class="ui container center aligned">
                <div class="ui horizontal inverted small divided link list">
                    <p class="item">Copyright &copy; Ishiike 2022</p>
                </div>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="{% static 'js/semantic.js' %}"></script>
        <script>
            $('#js-sidebar').click(function() {
              $('.ui.sidebar').sidebar('toggle');
            });
        </script>
        {% block js %}{% endblock %}
    </body>
</html>
