{% extends 'base.html' %}
{% block title %}感謝感謝〜 | Ishiike{% endblock %}

{% block contents %}
<div class="ui grid stackable">
    <div class="eleven wide column">
        <a class="active section">投稿完了</a>
        <div class="ui segment">
            <div class="content">
                <div class="header"><h3>投稿完了</h3></div>
                回答が付くまでしばらくお待ちください<br>
            </div>
        </div>
        <div class="ui segment">
            <div class="content">
                <div class="header"><h3>質問内容</h3></div>
                <p>{{qanda.tag}} - {{qanda.created_at}}</p>
                <div class="ui segment">
                    <div style='font-family: "Segoe UI",Meiryo,system-ui,-apple-system,BlinkMacSystemFont,sans-serif;'>{{qanda.content | linebreaks}}</div>
                </div>
            </div>
        </div>
        <div>
        </div>
        <div class="ui items">
            <div class="ui item">
                <a href="{% url 'review:index' %}" class="ui fluid teal basic button" id="index-botton"><h4>トップへ戻る</h4></a>
            </div>
        </div>

    </div>
    {% include 'sidebar.html' %}
</div>
{% endblock %}